.container
  .work-contents
    .inner
      %section.works
        %h2.works__h2
          = @work.title
        .works__top
          = image_tag @work.image.url
          .works__top__detail
            %table
              %tbody
                %tr
                  %th
                    %div ジャンル
                  -# %td.icon-td
                  -#   = image_tag "icon1.png"
                  %td
                    %div
                      = @work.category
                %tr
                  %th
                    %div 制作期間
                  -# %td.icon-td
                  -#   = image_tag "icon3.png"
                  %td
                    %div
                      = @work.period
                %tr
                  %th
                    %div 制作スキル
                  -# %td.icon-td
                  -#   = image_tag "icon5.png"
                  %td
                    %div
                      = @work.skill
                %tr
                  %th
                    %div 担当
                  -# %td.icon-td
                  -#   = image_tag "icon2.png"
                  %td
                    %div
                      = @work.charge
                %tr
                  %th
                    %div 詳細
                  -# %td.icon-td
                  -#   = image_tag "icon4.png"
                  %td
                    %div
                      = @work.detail
        .works__middle
          %h3 概要
          %p
            = simple_format(@work.summary)
        .works__bottom
          - if user_signed_in? && current_user.id == @work.user_id
            = link_to '編集', edit_work_path(@work.id), method: :get, class: 'btn_f'
            = link_to '削除', "/works/#{@work.id}", method: :delete, data: { confirm: '削除しますか？' }, class: 'btn_f'
          = link_to works_path do
            %i.fas.fa-caret-left>
            Back
  .screen-pc
    .top-contents2
      .inner
        %section.menu2
          %div
            %ul
              %li
                = link_to abouts_path do
                  %div
                    = image_tag "about.png"
                    About
              %li
                = link_to works_path do
                  %div
                    = image_tag "work.png"
                    Works
              %li
                = link_to galleries_path do
                  %div
                    = image_tag "gallary.png"
                    Gallery
