.container
  .top-img
    .inner
      .screen-pc
        = image_tag "top-pc.png"
      .screen-mb
        = image_tag "top-mb.png"
  .top-contents1
    .inner
      %section.omoi
        %div
          ものづくりを通して誰かの喜びを作りたい
          %br>/
          いいものを作りたいと思う全ての方の
          %br>/
          お手伝いができればと思っています。
  .top-contents2
    .inner
      %section.menu2
        %div
          %ul
            %li
              = link_to abouts_path do
                %div
                  = image_tag "about.png"
                  About
            %li
              = link_to works_path do
                %div
                  = image_tag "work.png"
                  Works
            %li
              = link_to galleries_path do
                %div
                  = image_tag "gallary.png"
                  Gallery
