- set_meta_tags title: 'about'

.container
  .about-contents
    .inner
      %section.about
        %h2 About
        %p
          フリーでWeb制作・Webデザイン・エンジニア・イラストレーターとして活動しているsayaです。
          %br>/
          %br>/
          【2017年】
          %br>/
          Web関係の会社に入社し、マーケティング・デザイン全般・コーディング・イラスト作成・漫画LP等の業務を2年間行なっておりました。
          %br>/
          会社に勤めている期間も、フリーでコーディング・デザイン関係の依頼を受けておりました。
          %br>/
          %br>/
          【2019年】
          %br>/
          2年間勤めていたWeb関係の会社を退社。
          %br>/
          プログラミングスキルをさらに向上させるため専門のスクールに通い、サーバーサイドなどのWeb作成においての専門技術を学びました。
          %br>/
          スクールではブログや『twitter』のような文章・画像を投稿できるサイトやチャットサービス、『メルカリ』のようなフリマサイトを作成し、幅広いWebサービスに対応できるスキルを身に付けました。
          %br>/
          その後、フリーランスに転身。
          %br>/
          %br>/
          【スキル】
          %br>/
          HTML・CSS・Haml・SCSS・Ruby・Ruby on Rails・JavaScript・jQuery・SQL・Git・GitHub・AWS・WordPress・Illustrator・Photoshop・CLIP STUDIO PAINT PRO・（PHP・swiftの経験もあり）
        .about-me
          = image_tag "me.png"
          %div
            %p saya
            %table
              %tbody
                %tr
                  %th 所在地
                  %td 神戸市内
                %tr
                  %th お問い合わせ
                  %td creat4869@gmail.com
                %tr
                  %th 事業内容
                  %td Webデザイン業務, HTML・CSS・javascript等によるフロント業務, WordPressを使ったサイト制作, デザイン業務, イラスト制作, LPに使用する漫画制作
                %tr
                  %th ブログ
                  %td
                    = link_to "日常のあれこれ。", "https://creat4869.hatenablog.com/archive", target: "_blank"
        .sns-btn
          %ul
            %li
              = link_to "https://twitter.com/03iZero", target: "_blank" do
                %i.fab.fa-twitter
            %li
              = link_to "https://www.instagram.com/03izero/?hl=ja", target: "_blank" do
                %i.fab.fa-instagram
            %li
              = link_to "https://github.com/creat4869", target: "_blank" do
                %i.fab.fa-github
  .top-contents2
    .inner
      %section.menu2
        %div
          %ul
            %li
              = link_to abouts_path do
                %div
                  = image_tag "about.png"
                  About
            %li
              = link_to works_path do
                %div
                  = image_tag "work.png"
                  Works
            %li
              = link_to galleries_path do
                %div
                  = image_tag "gallary.png"
                  Gallery
